body{
    background-color: lightblue;
}
div{
    padding-top: 20px;
    padding-bottom: 20px;
    color:rgb(0, 0, 0)
}
#carouselExample{
    padding-left:450px;
    padding-right:500px;
}
footer{
    padding-left:500px;
    padding-right:500px;
    text-align: center;
}
img{
    border-radius: 1000000000000000px;
}
header{
    padding-left:500px;
    padding-right:500px;
}
